<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<link rel="stylesheet" type="text/css" href="mystyle.css">
  <style>
    .article-author-side{
      height: 100vh;
    }
  </style>
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
	<h3>My Publications</h3>
	<p>You can browse my <a href="https://scholar.google.it/citations?user=0XEDlRkAAAAJ&hl=en">Google Scholar profile</a></p>
	<div>
	<img src="t.jpg" alt="" width="85" height="85" align="left" hspace="20">
	<p>Kamran Janjua, M. and Calefati, A. and Nawaz, S. and Gallo, I. <br><strong>Git Loss for Deep Face Recognition</strong> <br>British Machine Vision Conference (BMVC), 2018</p>
	<a href="https://arxiv.org/pdf/1807.08512.pdf">[PDF]</a>	
	<a href="https://github.com/kjanjua26/Git_Loss_For_Deep_Face_Recognition">[CODE]</a>	
	</div>

	<div>
	<img src="t.jpg" alt="" width="85" height="85" align="left" hspace="20">
	<p>Nawaz, S. and Calefati, A. and Kamran Janjua, M. and Gallo, I. and<br><strong>Image and Visual Text Fusion for Multi-Modal Classification</strong> <br>Digital Image Computing: Technqiues and Applications (DICTA), 2018</p>
	<a href="https://arxiv.org/pdf/1808.10822.pdf">[PDF]</a>	
	<a href="">[CODE]</a>
	</div>

	<div>
	<img src="t.jpg" alt="" width="85" height="85" align="left" hspace="20">
	<p>Janjua, Muhammad Kamran and Nawaz, Shah and Calefati, Alessandro and Gallo, Ignazio<br><strong>Learning Inward Scaled Hypersphere Embedding: Exploring Projections in Higher Dimensions</strong> <br>arXiv preprint arXiv:1810.07037</p>
	<a href="https://arxiv.org/pdf/1810.07037.pdf">[PDF]</a>
	<a href="">[CODE]</a>
	</div>

	<div>
	<img src="t.jpg" alt="" width="85" height="85" align="left" hspace="20">
	<p>Kamran Janjua, M. and Nawaz, S. and Calefati, A. and Gallo, I. <br><strong>Revisiting Cross Modal Retrieval</strong> <br>arXiv preprint arXiv:1807.07364</p>
	<a href="https://arxiv.org/pdf/1807.07364v1.pdf">[PDF]</a>
	<a href="">[CODE]</a>
	</div>
</div><!-- /#main -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
